.main-container {
  height: 100%;
  width: auto;
}

.color-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
}

.black-container {
  position: fixed;
  display: flex;
  order: 1;
  z-index: 1;
  flex-wrap: wrap;
}

.colored-square {
  height: 5vh;
  width: 5vh;
  background-color: blueviolet;
}

.black-square {
  background-color: black;

  height: 5vh;
  width: 5vh;
}

.black-square:hover {
  opacity: 0;
}
